[submodule "lib/Thor"]
	path = lib/Thor
	url = https://github.com/brandonbraun653/Thor.git
[submodule "lib/Chimera"]
	path = lib/Chimera
	url = https://github.com/brandonbraun653/Chimera.git
[submodule "lib/Aurora"]
	path = lib/Aurora
	url = https://github.com/brandonbraun653/Aurora.git
[submodule "lib/CommonTools"]
	path = lib/CommonTools
	url = https://github.com/brandonbraun653/CommonTools.git
[submodule "lib/FreeRTOS"]
	path = lib/FreeRTOS
	url = https://github.com/brandonbraun653/FreeRTOS.git
[submodule "lib/ugfx"]
	path = lib/ugfx
	url = https://github.com/brandonbraun653/ugfx.git
[submodule "lib/Ripple"]
	path = lib/Ripple
	url = https://github.com/brandonbraun653/Ripple.git
[submodule "lib/yaffs2"]
	path = lib/yaffs2
	url = https://github.com/brandonbraun653/yaffs2.git
[submodule "lib/ChimeraSim"]
	path = lib/ChimeraSim
	url = https://github.com/brandonbraun653/ChimeraSim.git
[submodule "lib/DroneNet"]
	path = lib/DroneNet
	url = https://github.com/brandonbraun653/DroneNet.git
[submodule "hw/lib/KiCadLib"]
	path = hw/lib/KiCadLib
	url = https://github.com/brandonbraun653/KiCadLib.git
[submodule "lib/nanopb"]
	path = lib/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "lib/Conda"]
	path = lib/Conda
	url = https://github.com/brandonbraun653/Conda.git
[submodule "lib/VirtualDrone"]
	path = lib/VirtualDrone
	url = https://github.com/brandonbraun653/VirtualDrone.git
